# Archivos de entorno y claves
.env

# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Carpetas de Streamlit/logs
.streamlit/

credentials*.json
cache/
database/*.db
database/*.db-*
*.zip
